{% extends 'base-back.html.twig' %}

{% block title %}Matériels{% endblock %}

{% block body %}
    <h1>Matériels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ materiel.nom }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ materiel.qte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('materiels_index') }}">back to list</a>

    <a href="{{ path('materiels_edit', {'id': materiel.id}) }}">edit</a>

    {{ include('materiels/_delete_form.html.twig') }}
{% endblock %}
